@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
*{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: Rubik;
}

#header{
    background-color: #ffcb47;
    display: flex;
    align-items: center;
    padding: 8px 250px;
    position: sticky;
    top: 0;

    .logo{
        color: #4a5043;
        font-size: 30px;
        margin-right: auto;
        font-weight: 1000;
    }

    .nav, ul, li, a{
        display: flex;
        color: #4A5043;
        gap: 10px;
        align-items: center;
    }

    a{
        padding: 0 1em;
        height: 3em;
    }

    a:hover{
        background-color: #ffffffb6;
    }
    a:focus{
        text-decoration: underline #71756b;
        color: #71756b;
    }
    
}

#main-section{
    display: flex;
    background-color: #1F2937;
    padding: 20px 250px;
    gap: 50px;
    justify-content: center;

    .left-box{
        background-color: #1F2937;
        display: flex;
        flex-direction: column;
        //flex: 1;
        justify-content: center;
        gap: 10px;
        width: 800px;
        height: 500px;
        
        h1{
            color: #F9F4F8;
            font-size: 48px;
            font-weight: 1000;
        }

        .main-paragraph{
            color: #E5E7EB;
            margin-bottom: 12px;
            font-size: 22px;
        }

        button{
            width: 120px;
            height: 32px;
            font-size: 18px;
            color: #F9F4F8;
            background-color: #3b82f6;
            border: 0 solid #3b82f6;
            border-radius: .5em;
            font-weight: 1000;   
        }
        button:hover, :focus{
            background-color: #1b72ff;
        }
        button:focus{
            border: 1px solid white;
        }
    }

    .right-box{
        //background-color: #ffffff69;
        display: flex;
        flex-direction: column;
        //flex: 1;
        justify-content: center;
        align-items: center;
        color: #F9F4F8;
        width: 800px;
        height: 500px;

        img{
            width: 550px;
            height: auto;
        }
    }
}


#random-section{
    display: flex;
    background-color: #F9F4F8;
    flex-direction: column;

    h2{
        text-align: center;
        font-size: 45px;
        color: #1F2937;
        padding: 80px 50px 30px 50px;
        background-color: #F9F4F8;
    }

    .four-boxes-section{
        display: flex;
        flex-direction: row;
        gap: 40px;
        background-color: #F9F4F8;
        justify-content: center;

        .blue-box-holder{
            display: flex;
            flex-direction: column;
            //border: 6px solid green;
            width: 160px;
            height: 240px;
            //background-color: rgb(198, 253, 198);
            gap: 10px;
            margin-bottom: 80px;

            .blue-box-1{
                display: flex;
                border: 4px solid #B9D8C2;
                background-color: #b9d8c2c5;
                width: auto;
                height: 160px;
                border-radius: 1em;

                .simple-text .s-one{
                    font-size: 3230px;
                }
            }

            .blue-box-2{
                display: flex;
                border: 4px solid #9AC2C9;
                background-color: #9ac2c9c2;
                width: auto;
                height: 160px;
                border-radius: 1em;
            }

            .blue-box-3{
                display: flex;
                border: 4px solid #8AA1B1;
                background-color: #8AA1B1c2;
                width: auto;
                height: 160px;
                border-radius: 1em;
            }

            .blue-box-4{
                display: flex;
                border: 4px solid #6A797A;
                background-color: #6A797Ac2;
                width: auto;
                height: 160px;
                border-radius: 1em;
            }

            .simple-text{
                text-align: center;
                padding: 0 0;

            } 
        }
    }
}

blockquote, cite, p, figcaption, strong{
    display: flex;
}

#paragraph-section{
    display: flex;
    background-color: #dff2fd;
    padding: 10em 22em;
    flex-direction: column;

    blockquote p{
        font-family: Rubik, sans-serif;
        font-style: italic;
        font-size: 40px;
        font-weight: 100;
        color: #1F2937;
    }

    figcaption, cite, strong{
        font-style: normal;
        justify-content: flex-end;
        font-size: 24px;
    }

    blockquote{
        flex-direction: column;
    }
}

#fourth-section{
    display: flex;
    background-color: white;
    padding: 6em;
    justify-content: center;

    .content-box{
        display: flex;
        background-color: #3b82f6;
        width: 80em;
        height: 10em;
        border-radius: .5em;
        justify-content: center;

        .content-holder{
            display: flex;
            align-items: center;
            width: 75%;

            .two-lines{
                margin-right: auto;

                :first-child{
                    color: white;
                    font-size: 40px;
                    font-weight: 1000;
                }

                :last-child{
                    color: white;
                    font-size: 20px;
                }
            }

            button{
                background-color: #3b82f6;
                border: 2px solid white;
                border-radius: 8px;
                width: 7em;
                height: 2em;
                color: white;
                font-weight: 1000;
                font-size: 30px;
            }
            button:hover, :focus{
                background-color: #77aafc;
            }
        }
    }
}

.fifth-section{
    display: flex;
    background-color: #202331;
    padding: 5em 14em;

    .fifth-section-holder{
        display: grid;
        width: 100%;
        padding: 0 2em;
        background-color: #2c3043;
    }



    .s-var{
        display: flex;
        height: 2em;
        width: 100%;
        background-color: #2c3043;
        align-items: center;
        padding: .5em 0;

        .circles-box{
            display: flex;
            gap: 5px;
            margin-right: auto;
            
            .circles{
                width: 12px;
                height: 12px;
                background-color: white;
                border-radius: 50%;
            }

            .circles.c1{
                background-color: #fc6057;
            }
            .circles.c2{
                background-color: #fda061;
            }
            .circles.c3{
                background-color: #1bc1a1;
            }
        }

        .search{
            padding: 0 .5em;
            width: 91%;
            background-color: #f8f9fb;
            color: rgb(128, 128, 128);
        }
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        //background-color: rebeccapurple;
        padding: .5em 0 1.5em 0;
        grid-auto-rows: minmax(50px, auto);


    }

    //Styling grid elements

    .grid-container-child.one, .grid-container-child.two, .grid-container-child.three, .grid-container-child.four, .grid-container-child.five{

    }
    .grid-container-child.one{
        background-color: #fda061;
        grid-column: span 3;
    }
    .grid-container-child.two{
        background-color: #01a787;
        grid-column: 1;
        grid-row: 2 / 4;
    }
    .grid-container-child.three{
        background-color: #34daba;
        grid-column: span 2;
    }
    .grid-container-child.four{
        background-color: #fc6057;
        grid-column: 2 / 2;
        grid-row: 3;
    }
    .grid-container-child.five{
        background-color: #fda061;
        grid-column: 3 / 3;
        align-self: stretch;
    }
    



}

#footer{
    background-color: #FFCB47;
    text-align: center;
    color: #4A5043;
    padding: 2em 0;
}


